@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.about-us-component-content-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-component-header-text { 
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: .5em;
}

.about-us-component-header-container { 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vault-family-img-styles { 
    margin-left: 3em;
    width: 37em;
    border-radius: 5%;
    height: auto;
    padding-bottom: 2em;
}

.our-story-description-text { 
    font-family: sans-serif;
    color: silver;
    text-align: center;
    flex: 1;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1em;
    max-width: 40em;
}




@media (max-width: 1420px) {
    .about-us-component-content-wrapper {
      flex-direction: column;
      text-align: center;
    }
  
    .vault-family-img-styles {
    //   width: 35em;
      margin-left: 0em;
      margin-bottom: 1em;
    }
  }

  @media (max-width: 720px) { 
    .vault-family-img-styles { 
        width: 25em;
    }

    .our-story-description-text { 
        font-size: 1rem;
    }
  }

  @media (max-width: 480px) { 
    .vault-family-img-styles { 
        width: 20em;
    }
  }

  @media (max-width: 360px) { 
    .vault-family-img-styles { 
      width: 18em;
  }
  }

