.contact-form-wrapper { 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact-form-title-subtitle-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.contact-form-title-subtitle-container h1 { 
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1em;
}

.contact-form-title-subtitle-container h3 { 
    font-size: 2rem;
    font-weight: bold;
}

.contact-form-title-subtitle-container p { 
    text-align: center;
    font-size: 1.5rem;
}

.contact-form-input-container { 
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    // padding: 2em;
    padding-bottom: 1em;
    gap: 1em;
}

.label-input-pair-name,
.label-input-pair-email,
.label-input-pair-phone,
.label-input-pair-msg { 
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.contact-form-input-container input { 
    width: 15em;
    font-size: 1.5rem;
    // border: 4px solid red;
}

.contact-form-input-container textarea { 
    font-size: 1.5rem;
    width: 15em;
}



.contact-form-input-container button { 
    font-size: 1.5rem;
    background-color: red;
    padding: .3em;
}

@media (max-width: 660px) { 
.contact-form-input-container input,
.contact-form-input-container textarea {  
    width: 15em;
    font-size: 1.4rem;
  } 
}

@media (max-width: 490px) { 
    .contact-form-title-subtitle-container p { 
        text-align: center;
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) { 
    .contact-form-input-container input,
.contact-form-input-container textarea {  
    width: 14em;
    font-size: 1.3rem;
  } 
}