.recovery-room-content-wrapper {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.recovery-room-content-wrapper h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5em;
}

 .recovery-room-text {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5em;
  font-family: sans-serif;
  max-width: 40em; /* Adjust the value as needed */
  margin: 0 auto; /* Center the text horizontally */
  color: silver;
}

// .recovery-room-content-wrapper p {
//   text-align: center;
//   font-size: 1.5rem;
//   padding: 0.5em;
// }

.recovery-cards-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  align-items: stretch;
  gap: 1em;
  flex-wrap: wrap;
}

.recovery-card-group-1,
.recovery-card-group-2 {
  display: flex;
  justify-content: center;
  // align-items: center;
  align-items: stretch;
  gap: 1em;
  flex-wrap: wrap;
}

.recovery-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 22em;
  // padding: 1em;
  // padding: 0.5em;
  font-size: 1.2rem;
  background-color: silver;
  font-family: sans-serif;
}

.recovery-card-header { 
  font-size: 1.5rem;
}

.card-img { 
  padding: 1em;
  border-radius: 10%;
}

.recovery-learn-more-btn { 
  font-size: 1rem;
}

.recovery-card-body { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


@media (max-width: 1030px) { 
  .recovery-room-text { 
    font-size: 1rem;
  }

  .recovery-card-container { 
    font-size: 1rem;
  }
}

// @media (max-width: 490px) { 
//   .recovery-room-content-wrapper p { 
//     font-size: 1.2rem;
//   }
// }


@media (max-width: 445px) { 
  .recovery-card-container { 
    width: 20em;
    // font-size: 1rem;
  }
}

// .card-container .card-img { 
//     width: 19em;
// }

// .cold-plunge-img, .sauna-img { 
//     width: 100%;
//     height: auto;
//     max-width: 100%; /* Ensure images don't exceed container width */
//     max-height: 100%;
// }



// @media (max-width: 430px) {
//     // .cold-plunge-img,
//     // .sauna-img,
//     // .red-light-img,
//     // .normatech-img {
//     //   width: 90%; /* Adjust width for smaller screens */
//     // }

//     // .card-container { 
//     //     width: 20em;
//     // }
//   }



// .cold-plunge-img { 
//     height: 14.5em;
// }

// .card-img {
//     width: 15em
// }

// .sauna-img { 
//     width: 17em;
// }